<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%# @users.each do |user| %>
    <%# 自動で _user.html.erb を参照してくれる %>
    <%#= render user%>
  <%# end %>
  <%# ↓ %>

  <%= render @users %>
</ul>

<%= will_paginate %>